{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <style>
        h1   {color: blue;}
        p    {text-align:center; color: rgb(244, 239, 236); padding-top: 10px; padding-bottom: 30px;}
        label{ font-size: medium; }
        html, body { background-color: rgb(7, 11, 11); }
        label { color: rgb(245, 240, 240); font-weight: bold; margin-left: 500px; }
        input[type=text] { width: 20%; padding: 12px 20px; margin-left: 50px; box-sizing: border-box; background-color: #949d9a; color: black; }
        input[type=password] { width: 20%; padding: 12px 20px; margin-left: 55px; box-sizing: border-box; background-color: #949d9a; color: black; }
        button { width: 10%; padding: 12px 20px; box-sizing: border-box; background-color: #949d9a; color: black; margin-left: 690px; }
        h1 { text-align:center; color: rgb(244, 239, 236); padding-top: 10px; padding-bottom: 30px; }
        a:hover { color: red; text-decoration: underline; }
        a { text-align:center; color: rgb(251, 248, 248); text-decoration: none; font-size: 15pt; }
        .register{ text-align:center;}
        .signup{ text-align:center;}
        .logout{position: relative; left: 50%;}
        .login{position: relative; left: 50%;}

    </style>
</head>
<body>
        {{{body}}}
</body>
</html>

